`
  <kendo-chart>
    <kendo-chart-series>
      <kendo-chart-series-item
          type="donut" [data]="this.dataSource"
          categoryField="machineNick" field="aktif">
        <kendo-chart-series-item-labels
          [content]="labelContent"
          color="#fff" background="none">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
  </kendo-chart>
  <!-- bu ölçüm yanlış şeyi ölçüyor burada bir makinenin yüzde kaçta olduğunu almamız gereklidir.-->