
    <kendo-chart>
        <kendo-chart-tooltip [shared]="true"> </kendo-chart-tooltip>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['A', 'B', 'C']">
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-series>
          <kendo-chart-series-item name = "Kesim" [data]="this.dataSource" field="kesim" categoryField="tarih"> </kendo-chart-series-item>
          <kendo-chart-series-item name = "Aktif" [data]="this.dataSource" field = "aktif" categoryField="tarih"> </kendo-chart-series-item>
          <kendo-chart-series-item name = "Finish" [data]="this.dataSource" field = "finish" categoryField="tarih"> </kendo-chart-series-item>
          <kendo-chart-series-item name = "Duruş" [data]="this.dataSource" field = "durus" categoryField="tarih"> </kendo-chart-series-item>
          <kendo-chart-series-item name = "Erişimsiz" [data]="this.dataSource" field = "erisimsiz" categoryField="tarih"> </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart> 