
    <kendo-chart [categoryAxis]="{ categories: categories }">
      <kendo-chart-title
        text="tarih"
      ></kendo-chart-title>
      <kendo-chart-legend
        position="bottom"
        orientation="horizontal"
      ></kendo-chart-legend>
      <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
      <kendo-chart-series>
        <kendo-chart-series-item
          *ngFor="let item of series_aktif"
          type="line"
  
          [data]="this.dataSource"
          [name]="item.name"
          field = "aktif"
          categoryField = "saat"
        >
        </kendo-chart-series-item>
  
        <kendo-chart-series-item
          *ngFor="let item of series_kesim"
          type="line"
  
          [data]="this.dataSource"
          [name]="item.name"
          field = "kesim"
          categoryField = "saat"
        >
        </kendo-chart-series-item>
  
        <kendo-chart-series-item
          *ngFor="let item of series_durus"
          type="line"
  
          [data]="this.dataSource"
          [name]="item.name"
          field = "durus"
          categoryField = "saat"
        >
        </kendo-chart-series-item>
  
        <kendo-chart-series-item
          *ngFor="let item of series_erisimsiz"
          type="line"
  
          [data]="this.dataSource"
          [name]="item.name"
          field = "erisimsiz"
          categoryField = "saat"
        >
        </kendo-chart-series-item>
  
      </kendo-chart-series>
    </kendo-chart>
    

    <kendo-chart>
      <ng-template kendoChartDonutCenterTemplate>
        <h4> % {{this.Valuer}}</h4>
        <br>
        <br>
      </ng-template>
      <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
      <kendo-chart-series>
  
        <kendo-chart-series-item
          type="donut"
          [data]="this.donuticin"
          
  
          field="share"
        >
          <kendo-chart-series-item-labels
            [content]="labelContent"
            
            color="#fff"
            background="none"
            
          >
          
          </kendo-chart-series-item-labels>
        </kendo-chart-series-item>
      </kendo-chart-series>
      <kendo-chart-legend [visible]="false"></kendo-chart-legend>
    </kendo-chart>